body {
    display: flex;
    width: 100vw;
    background-image: linear-gradient(135deg, #FCE38A, #DA723C);
    flex-direction: column;
    align-items: center;
}


.navBar { 
    display:flex;
    height: 50px;
    width: 100%;
    justify-content: space-evenly;
}
.navItem {
    display: flex;
    height: 30px;
    width: 120px;
    border: 2px solid #85603F;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color:#E3D18A;
}

.middle {
    display: flex;
    width: 100%;

}
.text {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.title {
    display: flex;
    height: 50px;
    width: 300px;
    border: 2px solid #85603F;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color:#E3D18A;

}
.menu {
    display: flex;
    height: 50px;
    width: 300px;
    border: 2px solid #85603F;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color:#E3D18A;
}

.pic {
    display: flex;
    width: 50%;
}
.logoImage {
    width: 60%;
}

.select {
    display: flex;
    width: 100%;

}

.inside {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.big {
    display: flex;
    width: 25%;
}
.latte {
    display:flex;
    width: 100%;

}
.coffeelatte {
    width: 75%;
}
.middle1 {
    display:flex;
    width: 33.33333%;
    justify-content: center;
    align-items: center;
}
.nameLatte{ 
    display: flex;
    height: 50px;
    width: 300px;
    border: 2px solid #85603F;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color:#E3D18A;
}

.back {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.textLatte {
    display: flex;
    width: 100%;
}
.first {
    display:flex;
    height: 100%;
}
.big1 {
    display: flex;
    width: 25%;
}
.cappucino{
    display:flex;
    width: 100%;

}
.cappucinopic {
    width: 75%;
}
.middle2 {
    display:flex;
    width: 33.33333%;
    justify-content: center;
    align-items: center;
}
.nameCappucino{ 
    display: flex;
    height: 50px;
    width: 300px;
    border: 2px solid #85603F;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color:#E3D18A;
}

.back1 {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.textCappucino {
    display: flex;
    width: 100%;
}
.second {
    display:flex;
    height: 100%;
}
.big2 {
    display: flex;
    width: 25%;
}
.espresso{
    display:flex;
    width: 100%;

}
.espressopic {
    width: 75%;
}
.middle3 {
    display:flex;
    width: 33.33333%;
    justify-content: center;
    align-items: center;
}
.nameEspresso{ 
    display: flex;
    height: 50px;
    width: 300px;
    border: 2px solid #85603F;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color:#E3D18A;
}

.back2 {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.textEspresso {
    display: flex;
    width: 100%;
}
.three {
    display:flex;
    height: 100%;
}
.big3 {
    display: flex;
    width: 25%;
}
.flatwhite{
    display:flex;
    width: 100%;

}
.flatpic {
    width: 75%;
}
.middle4 {
    display:flex;
    width: 33.33333%;
    justify-content: center;
    align-items: center;
}
.nameFlat{ 
    display: flex;
    height: 50px;
    width: 300px;
    border: 2px solid #85603F;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color:#E3D18A;
}

.back3 {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.textFlat{
    display: flex;
    width: 100%;
}
.four {
    display:flex;
    height: 100%;
}
.big4 {
    display: flex;
    width: 25%;
}
.americano{
    display:flex;
    width: 100%;

}
.americanopic {
    width: 75%;
}
.middle5 {
    display:flex;
    width: 33.33333%;
    justify-content: center;
    align-items: center;
}
.nameamericano{ 
    display: flex;
    height: 50px;
    width: 300px;
    border: 2px solid #85603F;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color:#E3D18A;
}

.back4 {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.textAmericano{
    display: flex;
    width: 100%;
}